.bookstyl {
    border: 2px solid #343a40;
    margin: 10px;
    padding: 20px;
    margin: 20px
}

.btnstyle2 {
    margin-right: 20px;
    margin-bottom: 10px;
    position: relative;
}

.btnset2 {
    position: relative;
    left: 80%
}

